<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thanh toán học phí</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>

    <style>
        .dropdown-item{
            width: -webkit-fill-available;
        }

    </style>

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragment/header :: nav_header">
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragment/header :: header">
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragment/header :: nk_sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Các khoản học phí đã đóng</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4  class="card-title">Danh sách các khoản đã đóng</h4>


                            <div class="row">
                                <div class="col-8">

                                </div>

                                <div class="col-4">
                                    <div class="input-group icons">
                                        <form method="get" style="display: flex;width: 100%">
                                            <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="border: 2px solid #ced4da;" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
                                            <button type="submit" id="buttonSearch" class="btn btn-danger" style="border-radius: 0px">
                                                <i class="fa fa-search" aria-hidden="true"></i> </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--                                nên làm thành mục lớn từu năm học ,kỳ học có thêr xem dduojc lơp học, thầy cô, học sinh-->
                            <div class="table-responsive">
                                <table class="table table-bordered verticle-middle header-border table-hover">
                                    <thead>
                                    <tr>
                                        <th>Tên khoản thu</th>
                                        <th>Năm học</th>
                                        <th>Kỳ học</th>
                                        <th>Giá tiền</th>
                                        <th>Thời gian nộp</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="revenue : ${revenue_details}">
                                        <td th:text="${revenue.revenue.name}"></td>
                                        <td th:text="${revenue.revenue.school_year.name}"></td>
                                        <td th:text="${revenue.revenue.semester.name}"></td>
                                        <td th:text="${#numbers.formatDecimal(revenue.revenue.price, 0, 'DEFAULT',0, 'POINT')} + ' đ'"></td>
                                        <td th:text="${#dates.format(revenue.payment_time,'dd/MM/yyyy hh:mm:ss')}"></td>

                                    </tr>

                                </table>
                            </div>

                            <!-- start pagination   -->
                            <!--                            <div th:if="${classroomDtos.getTotalPages() >0}">-->
                            <!--                                &lt;!&ndash; start total element  &ndash;&gt;-->
                            <!--                                <div th:if="${(pageNo -1) * pageSize +1} < ${classroomDtos.getTotalElements()}" class="text-left" th:text="${(pageNo -1) * pageSize +1} + ' - ' + (${pageNo*pageSize} > ${classroomDtos.getTotalElements()} ? ${classroomDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${classroomDtos.getTotalElements()}"></div>-->
                            <!--                                <div th:if="${(pageNo -1) * pageSize +1} == ${classroomDtos.getTotalElements()}" class="text-left" th:text="(${pageNo*pageSize} > ${classroomDtos.getTotalElements()} ? ${classroomDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${classroomDtos.getTotalElements()}"></div>-->
                            <!--                                &lt;!&ndash; end total element  &ndash;&gt;-->

                            <!--                                <div class="bootstrap-pagination">-->
                            <!--                                    <nav  th:if="${classroomDtos.getTotalPages() >1}">-->
                            <!--                                        <ul class="pagination justify-content-end">-->

                            <!--                                            <li class="page-item " th:if="${pageNo > 1}">-->
                            <!--                                                <a th:if="${showClass}" class="page-link" th:href="'/manage/class/page/' + (${pageNo}-1) + ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>-->
                            <!--                                                <a th:if="${showScore}" class="page-link" th:href="'/manage/score/page/' + (${pageNo}-1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>-->
                            <!--                                                <a th:if="${showAssign}" class="page-link" th:href="'/manage/assign/page/' + (${pageNo}-1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash; print pages smaller than 6  &ndash;&gt;-->
                            <!--                                            <li th:if="${pageNo < 6}" class="page-item" th:each="i : ${#numbers.sequence(1,classroomDtos.getTotalPages())}">-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showClass == true }" th:href="@{'/manage/class/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''}}  " th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showScore == true}" th:href="@{'/manage/score/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showAssign == true}" th:href="@{'/manage/assign/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->

                            <!--                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>-->
                            <!--                                            </li>-->


                            <!--                                            &lt;!&ndash; print pages larger than or equal to 6  &ndash;&gt;-->
                            <!--                                            <li th:if="${pageNo >= 6 }" class="page-item">-->
                            <!--                                                <a th:if="${showClass}" class="page-link"  th:href="@{'/manage/class/page/1'+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="'1'"></a>-->
                            <!--                                                <a th:if="${showScore}" class="page-link"  th:href="@{'/manage/score/page/1'+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="'1'"></a>-->
                            <!--                                                <a th:if="${showAssign}" class="page-link"  th:href="@{'/manage/assign/page/1'+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="'1'"></a>-->
                            <!--                                            </li>-->
                            <!--                                            <li th:if="${pageNo >= 6 }" class="page-item">-->
                            <!--                                                <a class="page-link" style="color: #000" th:text="'...'"></a>-->
                            <!--                                            </li>-->

                            <!--                                            <li th:if="${pageNo >= 6 and pageNo < classroomDtos.getTotalPages()  }" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-1,(pageNo)+1)}">-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showClass == true }" th:href="@{'/manage/class/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showScore == true}" th:href="@{'/manage/score/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showAssign ==true}" th:href="@{'/manage/assign/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->

                            <!--                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>-->
                            <!--                                            </li>-->
                            <!--                                            &lt;!&ndash; conditions print last page  &ndash;&gt;-->
                            <!--                                            <li th:if="${pageNo >= 6 and pageNo == classroomDtos.getTotalPages()}" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-2,(pageNo))}">-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i and showClass == true}" th:href="@{'/manage/class/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i  and showScore == true}" th:href="@{'/manage/score/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->
                            <!--                                                <a class="page-link" th:if="${pageNo != i  and showAssign == true}" th:href="@{'/manage/assign/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>-->

                            <!--                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>-->
                            <!--                                            </li>-->


                            <!--                                            <li class="page-item " th:if="${pageNo < classroomDtos.getTotalPages()}">-->
                            <!--                                                <a th:if="${showClass}" class="page-link" th:href="'/manage/class/page/' + (${pageNo}+1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>-->
                            <!--                                                <a th:if="${showScore}" class="page-link" th:href="'/manage/score/page/' + (${pageNo}+1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>-->
                            <!--                                                <a th:if="${showAssign}" class="page-link" th:href="'/manage/assign/page/' + (${pageNo}+1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>-->
                            <!--                                            </li>-->
                            <!--                                        </ul>-->
                            <!--                                    </nav>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!-- end pagination   -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragment/footer :: footer">
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>