<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tài khoản học sinh</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>

    <style>
        .dropdown-item{
            width: -webkit-fill-available;
        }
    </style>

</head>


<body>


<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragment/header :: nav_header">
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragment/header :: header">
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragment/header :: nk_sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item "><a href="javascript:void(0)">Quản lý tài khoản</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Danh sách tài khoản học sinh</h4>
                            <div class="row">
                                <div class="col-8">
                                    <button type="button" class="btn btn-info ml-4 add-button" data-toggle="modal" data-target="#modalAdd">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm tài khoản</button>
                                </div>
                                <div class="col-4">
                                    <div class="input-group icons">
                                        <form method="get" style="display: flex;width: 100%">
                                            <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="border: 2px solid #ced4da;" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
                                            <button type="submit" id="buttonSearch" class="btn btn-danger" style="border-radius: 0px">
                                                <i class="fa fa-search" aria-hidden="true"></i> </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered verticle-middle header-border table-hover">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Username</th>
                                        <th>Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="user,userStart : ${userDtos.getContent()}">
                                        <td th:text="${userStart.index+1}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.active} ? 'Hoạt động' : 'Đã khóa'"
                                            th:classappend="${user.active} ? 'text-success' : 'text-danger'"></td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chức năng</button>
                                                <div class="dropdown-menu">

                                                    <button type="button" class="dropdown-item btn btn-primary edit-button" data-toggle="modal" data-target="#modalEdit"
                                                            th:data-user-id="${user.id}" th:data-username="${user.username}" >Sửa</button>

                                                    <button type="button" class="dropdown-item btn btn-primary delete-button" data-toggle="modal" data-target="#modalDelete"
                                                            th:data-delete="${user.getId()}">Xóa</button>
                                                    <button th:if="${user.active}" type="button" class="dropdown-item btn btn-primary block-button" data-toggle="modal" data-target="#modalBlock"  th:data-block="${user.getId()}">Khóa</button>
                                                    <button th:if="${user.active} == false" type="button" class="dropdown-item btn btn-primary enable-button" data-toggle="modal" data-target="#modalEnable" th:data-enable="${user.getId()}">Mở khóa</button>
                                                    <button type="button" class="dropdown-item btn btn-primary reset-button" data-toggle="modal" data-target="#modalReset"
                                                            th:data-reset="${user.getId()}">Reset mật khẩu</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!-- start pagination   -->
                            <div th:if="${userDtos.getTotalPages() >0}">
                                <!-- start total element  -->
                                <div th:if="${(pageNo -1) * pageSize +1} < ${userDtos.getTotalElements()}" class="text-left" th:text="${(pageNo -1) * pageSize +1} + ' - ' + (${pageNo*pageSize} > ${userDtos.getTotalElements()} ? ${userDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${userDtos.getTotalElements()}"></div>
                                <div th:if="${(pageNo -1) * pageSize +1} == ${userDtos.getTotalElements()}" class="text-left" th:text="(${pageNo*pageSize} > ${userDtos.getTotalElements()} ? ${userDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${userDtos.getTotalElements()}"></div>
                                <!-- end total element  -->

                                <div class="bootstrap-pagination">
                                    <nav  th:if="${userDtos.getTotalPages() >1}">
                                        <ul class="pagination justify-content-end">

                                            <li class="page-item " th:if="${pageNo > 1}"><a class="page-link" th:href="'/account/student/page/' + (${pageNo}-1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>
                                            </li>
                                            <!-- print pages smaller than 6  -->
                                            <li th:if="${pageNo < 6}" class="page-item" th:each="i : ${#numbers.sequence(1,userDtos.getTotalPages())}">
                                                <a class="page-link" th:if="${pageNo != i}" th:href="@{'/account/student/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                            </li>
                                            <!-- print pages larger than or equal to 6  -->
                                            <li th:if="${pageNo >= 6 }" class="page-item">
                                                <a class="page-link"  th:href="@{'/account/student/page/1'+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="'1'"></a>
                                            </li>
                                            <li th:if="${pageNo >= 6 }" class="page-item">
                                                <a class="page-link" style="color: #000" th:text="'...'"></a>
                                            </li>

                                            <li th:if="${pageNo >= 6 and pageNo < userDtos.getTotalPages()  }" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-1,(pageNo)+1)}">
                                                <a class="page-link" th:if="${pageNo != i}" th:href="@{'/account/student/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                            </li>
                                            <!-- conditions print last page  -->
                                            <li th:if="${pageNo >= 6 and pageNo == userDtos.getTotalPages()}" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-2,(pageNo))}">
                                                <a class="page-link" th:if="${pageNo != i}" th:href="@{'/account/student/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                            </li>


                                            <li class="page-item " th:if="${pageNo < userDtos.getTotalPages()}"><a class="page-link" th:href="'/account/student/page/' + (${pageNo}+1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>

                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- end pagination   -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragment/footer :: footer">
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!-- Modal -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lable">Thêm thành viên</h5>
                <button th:if="${errorFormAdd}" onclick="window.location.href='/account/student'" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <button th:unless="${errorFormAdd}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form method="post" th:object="${userForm}" th:action="@{/account/student/save}">
                <input type="hidden"   name="id" th:value="${userForm.getId()}" >
                <input type="hidden"  name="usernameOrigin"  >
                <input type="hidden"  name="formAdd" value="formAdd" >
                <input type="hidden"  name="pageNo" th:value="${pageNo}" >

                <input type="hidden" id="id-Teacher" name="idStudent" value=""  th:value="${param.idStudent}">

                <div th:with="idStudent=${param.idStudent}" th:data-create="${idStudent}" class="modal-body" id = "modal-body" th:data-has-errors="${#fields.hasErrors()}">
                    <div class="form-group">
                        <label for="usernameAdd">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="usernameAdd"  name="username" th:value="*{username}">
                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        <p class="text-danger" th:if="${errorUsername}" th:text="${errorUsername}"></p>
                        <p class="text-danger" th:if="${errorUsernameExist}" th:text="${errorUsernameExist}"></p>
                    </div>

                    <div class="form-group">
                        <label for="passWordAdd">Mật khẩu</label>
                        <input type="text" class="form-control" id="passWordAdd"  th:field="*{password}">
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        <p class="text-danger" th:if="${errorPassword}" th:text="${errorPassword}"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button th:if="${param.idStudent != null and not #strings.contains(param.idStudent,'0')}" type="button" class="btn btn-secondary" onclick="window.location.href='/manage/student'" >Đóng</button>
                    <button th:if="${#fields.hasAnyErrors() == true}" type="button" class="btn btn-secondary" onclick="window.location.href='/account/student'" >Đóng</button>
                    <button th:if="${#fields.hasAnyErrors() == false and param.idStudent == null} "  type="button" class="btn btn-secondary" data-dismiss="modal" >Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelLabel">Sửa thành viên</h5>
                <button th:if="${errorFormEdit}" onclick="window.location.href='/account/student'" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <button th:unless="${errorFormEdit}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form method="post" th:object="${userForm}" th:action="@{/account/student/save}">
                <input type="hidden" id="user-idEdit"  name="id" th:value="${userForm.getId()}" >
                <input type="hidden" id="usernameOrigin"  name="usernameOrigin"  >
                <input type="hidden"  name="formEdit" value="formEdit" >
                <input type="hidden"  name="pageNo" th:value="${pageNo}" >

                <div class="modal-body" id ="edit-modal" th:data-edit="${#fields.hasErrors()}">
                    <div class="form-group">
                        <label for="usernameEdit">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="usernameEdit" name="username" th:value="*{username}">
                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button th:if="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" onclick="window.location.href='/account/student'">Đóng</button>
                    <button th:unless="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" data-dismiss="modal" >Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn <b>xóa tài khoản</b> không ?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>

                <form method="post" th:action="@{/account/student/delete}">
                    <input type="hidden" id="id-deleteModal" name="idUserDelete"/>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn <b>reset mật khẩu</b> không ?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>

                <form method="post" th:action="@{/account/student/reset}">
                    <input type="hidden" id="id-resetModal" name="idUserReset"/>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBlock">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn <b>khóa</b> tài khoản không ?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>

                <form method="post" th:action="@{/account/student/block}">
                    <input type="hidden" id="id-blockModal" name="idUserBlock"/>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEnable">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn <b>mở khóa</b> tài khoản không ?

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>

                <form method="post" th:action="@{/account/student/enable}">
                    <input type="hidden" id="id-enableModal" name="idUserEnable"/>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" th:if="${param.idStudent}" >
    $(document).ready(function() {
        $("#modalAdd").modal("show");
    });
</script>

<script th:inline="javascript" th:if="${errorFormAdd}">
    $(document).ready(function() {
        $("#modalAdd").modal("show");
    });
</script>
<script th:inline="javascript" th:if="${errorFormEdit}">
    $(document).ready(function() {
        $("#modalEdit").modal("show");
    });
</script>

<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>

<script th:inline="javascript" th:if="${changeSuccess != null}">
    toastr.success("Thay đổi thành công", "Thành công", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
    });
</script>


<script th:inline="javascript" th:if="${changeFail != null}">
    toastr.error( "Thay đổi thất bại","Thất bại", {
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        positionClass: "toast-top-right",
        preventDuplicates: !0,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
    });
</script>


<script th:inline="javascript">
    $(document).ready(function () {
        // Lắng nghe sự kiện click vào modal
        $('#modalAdd').on('click', function (e) {
            var hasErrors = $('#modal-body').data("has-errors");
            var idStudent = $('#modal-body').data("create");
            // Kiểm tra xem sự kiện click có diễn ra trong phần nội dung modal hay không
            if (!$(e.target).closest('.modal-content').length) {

                if(idStudent != undefined){
                    window.location.href = '/account/student?id=' +idStudent;
                }
                if(idStudent != undefined && hasErrors){
                    window.location.href = '/account/student?id='+idStudent;
                }
                if(hasErrors){
                    // Nếu không, chuyển hướng đến trang account/admin
                    window.location.href = '/account/student';
                }

            }
        });
    });
    $(document).ready(function () {
        // Lắng nghe sự kiện click vào modal
        $('#modalEdit').on('click', function (e) {
            var hasErrorsEdit = $('#edit-modal').data("edit");
            // Kiểm tra xem sự kiện click có diễn ra trong phần nội dung modal hay không
            if (!$(e.target).closest('.modal-content').length) {
                if(hasErrorsEdit){
                    // Nếu không, chuyển hướng đến trang account/admin
                    window.location.href = '/account/student';
                }
            }
        });
    });
</script>




<script>
    $(document).ready(function () {

        $(".edit-button").click(function () {
            var userId = $(this).data("user-id");
            var username = $(this).data("username");
            var fullname = $(this).data("fullname");
            var phonenumber = $(this).data("phonenumber");
            var email = $(this).data("email");

            // Điền thông tin người dùng vào các trường trong modal
            $("#user-idEdit").val(userId);
            $("#usernameEdit").val(username);
            $("#usernameOrigin").val(username);
            $("#fullNameEdit").val(fullname);
            $("#phoneNumberEdit").val(phonenumber);
            $("#emailEdit").val(email);

        });

        $(".delete-button").click(function () {
            var userIdDelete = $(this).data("delete");
            $("#id-deleteModal").val(userIdDelete);
        });

        $(".reset-button").click(function () {
            var userIdDelete = $(this).data("reset");
            $("#id-resetModal").val(userIdDelete);
        });
        $(".block-button").click(function () {
            var userIdBlock = $(this).data("block");
            $("#id-blockModal").val(userIdBlock);
        });

        $(".enable-button").click(function () {
            var userIdEnable = $(this).data("enable");
            $("#id-enableModal").val(userIdEnable);
        });

    });
</script>

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>


</body>

</html>