<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <title>Trang chủ</title>
  <th:block th:replace="fragment/header :: html_head"></th:block>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <div th:replace="fragment/header :: nav_header">
  </div>
  <!--**********************************
      Nav header end
  ***********************************-->

  <!--**********************************
      Header start
  ***********************************-->
  <div th:replace="fragment/header :: header">
  </div>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <div th:replace="fragment/header :: nk_sidebar"></div>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-xl-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <form action="#" class="form-profile" method="post" th:action="@{/user/savePassword}"
              onsubmit="return validatePassword()">

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                  <div class="col-sm-10">
                    <input type="password" name="passwordOld" class="form-control" placeholder="Mật khẩu cũ" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Mật khẩu mới</label>
                  <div class="col-sm-10">
                    <input type="password" name="passwordNew"  id = "passwordNew"  class="form-control" placeholder="Mật khẩu mới" min="8" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Xác nhận mật khẩu mới</label>
                  <div class="col-sm-10">
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" placeholder="Xác nhận mật khẩu mới" required>
                  </div>
                  <p id="passwordError" style="color: red; display: none;">Mật khẩu xác nhận không đúng</p>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark">Đổi mật khẩu</button>
                  </div>
                </div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
  <div th:replace="fragment/footer :: footer">
  </div>
<!--**********************************
    Footer end
***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script>
  function validatePassword() {
    const newPassword = document.getElementById("passwordNew").value;
    const confirmPassword = document.getElementById("passwordConfirm").value;

    if (newPassword !== confirmPassword) {
      document.getElementById("passwordError").style.display = "block";
      return false; // Ngăn không cho submit form
    }

    return true; // Cho phép submit form
  }
</script>

<script>

  document.getElementById("passwordConfirm").addEventListener("input", function() {

    let newPassword = document.getElementById("passwordNew").value;
    let confirmPassword = document.getElementById("passwordConfirm").value;
    var passwordError = document.getElementById("passwordError");
    if (newPassword === confirmPassword) {
      passwordError.style.display = "none";
    } else {
      passwordError.style.display = "block";
    }
  });
</script>


<script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
<script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>


<script th:inline="javascript" th:if="${changeSuccess != null}">
  toastr.success("Thay đổi thành công", "Thành công", {
    timeOut: 5e3,
    closeButton: !0,
    debug: !1,
    newestOnTop: !0,
    progressBar: !0,
    positionClass: "toast-top-right",
    preventDuplicates: !0,
    onclick: null,
    showDuration: "300",
    hideDuration: "1000",
    extendedTimeOut: "1000",
    showEasing: "swing",
    hideEasing: "linear",
    showMethod: "fadeIn",
    hideMethod: "fadeOut",
    tapToDismiss: !1
  });
</script>

<script th:inline="javascript" th:if="${changeFail != null}">
  toastr.error("Thay đổi thất bại", "Thất bại", {
    timeOut: 5e3,
    closeButton: !0,
    debug: !1,
    newestOnTop: !0,
    progressBar: !0,
    positionClass: "toast-top-right",
    preventDuplicates: !0,
    onclick: null,
    showDuration: "300",
    hideDuration: "1000",
    extendedTimeOut: "1000",
    showEasing: "swing",
    hideEasing: "linear",
    showMethod: "fadeIn",
    hideMethod: "fadeOut",
    tapToDismiss: !1
  });
</script>
</body>

</html>