<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Quản lý điểm môn học</title>
  <th:block th:replace="fragment/header :: html_head"></th:block>

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
    </svg>
  </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

  <!--**********************************
      Nav header start
  ***********************************-->
  <div th:replace="fragment/header :: nav_header">
  </div>
  <!--**********************************
      Nav header end
  ***********************************-->

  <!--**********************************
      Header start
  ***********************************-->
  <div th:replace="fragment/header :: header">
  </div>
  <!--**********************************
      Header end ti-comment-alt
  ***********************************-->

  <!--**********************************
      Sidebar start
  ***********************************-->
  <div th:replace="fragment/header :: nk_sidebar"></div>
  <!--**********************************
      Sidebar end
  ***********************************-->

  <!--**********************************
      Content body start
  ***********************************-->
  <div class="content-body">

    <div class="row page-titles mx-0">
      <div class="col p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Môn học</a></li>
        </ol>
      </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Quản lý điểm môn học</h4>
              <div class="row">
                <div class="col-8">

                </div>
                <div class="col-4">
                  <form method="get" style="display: flex;width: 100%">
                    <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="border: 2px solid #ced4da;" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
                    <button type="submit" id="buttonSearch" class="btn btn-danger" style="border-radius: 0px">
                      <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </form>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered verticle-middle header-border table-hover">
                  <thead>
                  <tr>
                    <th>Mã MH</th>
                    <th>Tên MH</th>
                    <th>Lớp học</th>
                    <th>Năm học</th>
                    <th>Kỳ học</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="teacher_class : ${teacher_classDtos.getContent()}">
                    <td th:text="${teacher_class.subject} ?${teacher_class.subject.id} : '' "></td>
                    <td th:text="${teacher_class.subject} ? ${teacher_class.subject.name} : ''"></td>
                    <td th:text="${teacher_class.classroom} ? ${teacher_class.classroom.name} : ''"></td>
                    <td th:text="${teacher_class.school_year.name}"></td>
                    <td th:text="${teacher_class.semester.name}"></td>
                    <td th:text="${teacher_class.subject.status} ? 'Đang mở' : 'Đã khóa'"
                        th:classappend="${teacher_class.subject.status} ? 'text-success' : 'text-danger'"></td>
                    <td>

                      <a  class="btn btn-primary"th:href="@{/manage/score/subject_score(id=${teacher_class.id})}">Xem điểm</a>
                    </td>
                  </tr>

                </table>
              </div>

              <!-- start pagination   -->
              <div th:if="${teacher_classDtos.getTotalPages() >0}">
                <!-- start total element  -->
                <div th:if="${(pageNo -1) * pageSize +1} < ${teacher_classDtos.getTotalElements()}" class="text-left" th:text="${(pageNo -1) * pageSize +1} + ' - ' + (${pageNo*pageSize} > ${teacher_classDtos.getTotalElements()} ? ${teacher_classDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${teacher_classDtos.getTotalElements()}"></div>
                <div th:if="${(pageNo -1) * pageSize +1} == ${teacher_classDtos.getTotalElements()}" class="text-left" th:text="(${pageNo*pageSize} > ${teacher_classDtos.getTotalElements()} ? ${teacher_classDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${teacher_classDtos.getTotalElements()}"></div>
                <!-- end total element  -->

                <div class="bootstrap-pagination">
                  <nav  th:if="${teacher_classDtos.getTotalPages() >1}">
                    <ul class="pagination justify-content-end">

                      <li class="page-item " th:if="${pageNo > 1}"><a class="page-link" th:href="'/teacher/score/' + (${pageNo}-1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>
                      </li>
                      <!-- print pages smaller than 6  -->
                      <li th:if="${pageNo < 6}" class="page-item" th:each="i : ${#numbers.sequence(1,teacher_classDtos.getTotalPages())}">
                        <a class="page-link" th:if="${pageNo != i}" th:href="@{'/teacher/score/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                        <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                      </li>
                      <!-- print pages larger than or equal to 6  -->
                      <li th:if="${pageNo >= 6 }" class="page-item">
                        <a class="page-link"  th:href="@{'/teacher/score/1'+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="'1'"></a>
                      </li>
                      <li th:if="${pageNo >= 6 }" class="page-item">
                        <a class="page-link" style="color: #000" th:text="'...'"></a>
                      </li>

                      <li th:if="${pageNo >= 6 and pageNo < teacher_classDtos.getTotalPages()  }" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-1,(pageNo)+1)}">
                        <a class="page-link" th:if="${pageNo != i}" th:href="@{'/teacher/score/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                        <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                      </li>
                      <!-- conditions print last page  -->
                      <li th:if="${pageNo >= 6 and pageNo == teacher_classDtos.getTotalPages()}" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-2,(pageNo))}">
                        <a class="page-link" th:if="${pageNo != i}" th:href="@{'/teacher/score/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                        <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                      </li>
                      <li class="page-item " th:if="${pageNo < teacher_classDtos.getTotalPages()}"><a class="page-link" th:href="'/teacher/score/' + (${pageNo}+1)+ ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>

                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- end pagination   -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  <!--**********************************
      Content body end
  ***********************************-->


  <!--**********************************
      Footer start
  ***********************************-->
  <div th:replace="fragment/footer :: footer">
  </div>
  <!--**********************************
      Footer end
  ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->


<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>