<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Trang chủ</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>
</head>


<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
       <div th:replace="fragment/header :: nav_header">
       </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
         <div th:replace="fragment/header :: header">
         </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragment/header :: nk_sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                  <h2 class="text-center"> Chào mừng bạn đến với hệ thống E-learning Quixlab</h2>
                  <h5 class="text-center">Hệ thống quản lý trường học của Trường Trung học cơ sở Hà Nội</h5>
            </div>



            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragment/footer :: footer">
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/common/common.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>

    <!-- Chartjs -->
    <script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
    <!-- Circle progress -->
    <script th:src="@{/plugins/circle-progress/circle-progress.min.js}"></script>
    <!-- Datamap -->
    <script th:src="@{/plugins/d3v3/index.js}"></script>
    <script th:src="@{/plugins/topojson/topojson.min.js}"></script>
    <script th:src="@{/plugins/datamaps/datamaps.world.min.js}"></script>
    <!-- Morrisjs -->
    <script th:src="@{/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/plugins/morris/morris.min.js}"></script>
    <!-- Pignose Calender -->
    <script th:src="@{/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
    <!-- ChartistJS -->
    <script th:src="@{/plugins/chartist/js/chartist.min.js}"></script>
    <script th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>

<!--    <script th:src="@{/js/dashboard/dashboard-1.js}"></script>-->

</body>

</html>