<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản lý giáo viên</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>


    <style>
        .dropdown-item{
            width: -webkit-fill-available;
        }
    </style>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="fragment/header :: nav_header">
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="fragment/header :: header">
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragment/header :: nk_sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Giáo viên</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Quản lý giáo viên</h4>
                                <div class="row">
                                    <div class="col-8">
                                        <button type="button" class="btn btn-info ml-4 add-button" data-toggle="modal" data-target="#modalAddEdit">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Thêm nhân viên</button>
                                    </div>
                                    <div class="col-4">
                                        <div class="input-group icons">
                                           <form method="get" style="display: inherit;width: 100%">
                                                <input type="search" name="keyword" th:value="${keyword}" class="form-control" style="border: 2px solid #ced4da;" placeholder="Tìm kiếm" aria-label="Tìm kiếm">
                                                 <button type="submit" id="buttonSearch" class="btn btn-danger" style="border-radius: 0px">
                                                    <i class="fa fa-search" aria-hidden="true"></i> </button>
                                           </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">

                                    <table class="table table-bordered verticle-middle header-border table-hover">
                                        
                                        <thead>
                                            <tr >
                                                <th>Tên</th>
                                                <th>Vai trò</th>
                                                <th>Số điện thoại</th>
                                                <th>Tài khoản</th>
                                                <th>Trạng thái</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="teacher : ${teacherDtos.getContent()}">
                                                <td th:text="${teacher.fullName}"></td>
                                                <td th:text="${teacher.role.getDisplayName()}"></td>
                                                <td  th:text="${teacher.phoneNumber}"></td>
                                                <td th:if="${teacher.getUser() != null}" th:text="${teacher.getUser().username}"></td>
                                                <td th:if="${teacher.getUser() == null}" > </td>
                                                <td th:text="${teacher.status} ? 'Đang dạy' : 'Đã nghỉ'"
                                                    th:classappend="${teacher.status} ? 'text-success' : 'text-danger'"></td>
                                                <td >

                                                    <div class="btn-group" role="group"  >
                                                        <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chức năng</button>
                                                        <div class="dropdown-menu"
                                                             th:data-id="${teacher.id}" th:data-fullname="${teacher.fullName}"
                                                             th:data-role="${teacher.role}" th:data-phonenumber="${teacher.phoneNumber}"
                                                             th:data-birthday = "${teacher.birthday}" th:data-address="${teacher.address}"
                                                             th:data-email="${teacher.email}"
                                                        >

                                                    <button type="button" class="dropdown-item btn btn-primary edit-button" data-toggle="modal" data-target="#modalAddEdit">Xem thông tin</button>

                                                    <button th:if="${teacher.status}" type="button" class="dropdown-item btn btn-warning rest-button " data-toggle="modal" data-target="#modalRest">Nghỉ dạy</button>
                                                    <button th:unless="${teacher.status}" type="button" class="dropdown-item btn btn-warning comeback-button" data-toggle="modal" data-target="#modalComback">Dạy lại</button>
                                                    <a  class="dropdown-item btn btn-light" th:href="@{/manage/teacher/classDetail(id=${teacher.id},role = 0)}">Lớp chủ nhiệm</a>
                                                    <a class="dropdown-item btn btn-light" th:href="@{/manage/teacher/classDetail(id=${teacher.id},role =1)}">Lớp bộ môn</a>
                                                    <a th:if="${teacher.user == null and teacher.status == true}" class="dropdown-item btn btn-primary" th:href="@{/account/teacher(idTeacher=${teacher.id})}">Tạo tài khoản</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                         
                                    </table>
                                </div>
                                <!-- start pagination   -->
                                <div th:if="${teacherDtos.getTotalPages() >0}">
                                    <!-- start total element  -->
                                    <div th:if="${(pageNo -1) * pageSize +1} < ${teacherDtos.getTotalElements()}" class="text-left" th:text="${(pageNo -1) * pageSize +1} + ' - ' + (${pageNo*pageSize} > ${teacherDtos.getTotalElements()} ? ${teacherDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${teacherDtos.getTotalElements()}"></div>
                                    <div th:if="${(pageNo -1) * pageSize +1} == ${teacherDtos.getTotalElements()}" class="text-left" th:text="(${pageNo*pageSize} > ${teacherDtos.getTotalElements()} ? ${teacherDtos.getTotalElements()} : ${pageNo*pageSize} ) + ' of ' + ${teacherDtos.getTotalElements()}"></div>
                                    <!-- end total element  -->

                                    <div class="bootstrap-pagination">
                                        <nav  th:if="${teacherDtos.getTotalPages() >1}">
                                            <ul class="pagination justify-content-end">

                                                <li class="page-item " th:if="${pageNo > 1}"><a class="page-link" th:href="'/manage/teacher/page/' + (${pageNo}-1) + ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Previous</a>
                                                </li>
                                                <!-- print pages smaller than 6  -->
                                                <li th:if="${pageNo < 6}" class="page-item" th:each="i : ${#numbers.sequence(1,teacherDtos.getTotalPages())}">
                                                    <a class="page-link" th:if="${pageNo != i}" th:href="@{'/manage/teacher/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                    <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                                </li>


                                                <!-- print pages larger than or equal to 6  -->
                                                <li th:if="${pageNo >= 6 }" class="page-item">
                                                    <a class="page-link"  th:href="@{'/manage/teacher/page/1' + ${keyword != null ? '?keyword=' + keyword : ''} }" th:text="'1'"></a>
                                                </li>
                                                <li th:if="${pageNo >= 6 }" class="page-item">
                                                    <a class="page-link" style="color: #000" th:text="'...'"></a>
                                                </li>

                                                <li th:if="${pageNo >= 6 and pageNo < teacherDtos.getTotalPages()  }" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-1,(pageNo)+1)}">
                                                    <a class="page-link" th:if="${pageNo != i}" th:href="@{'/manage/teacher/page/' + ${i}+ ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                    <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                                </li>
                                                <!-- conditions print last page  -->
                                                <li th:if="${pageNo >= 6 and pageNo == teacherDtos.getTotalPages()}" class="page-item" th:each="i : ${#numbers.sequence((pageNo)-2,(pageNo))}">
                                                    <a class="page-link" th:if="${pageNo != i}" th:href="@{'/manage/teacher/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''}}" th:text="${i}"></a>
                                                    <a class="page-link" style="color: #000" th:unless="${pageNo != i}" th:text="${i}"></a>
                                                </li>
                                                <li class="page-item " th:if="${pageNo < teacherDtos.getTotalPages()}"><a class="page-link" th:href="'/manage/teacher/page/' + (${pageNo}+1) + ${keyword != null ? '?keyword=' + keyword : ''}" tabindex="-1">Next</a>

                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- end pagination   -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragment/footer :: footer">
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

<!-- Modal -->
<div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Giáo viên</h5>
                <button th:if="${formError}" onclick="window.location.href='/manage/teacher'" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <button th:unless="${formError}" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form method="post" th:action="@{/manage/teacher/save}" th:object="${formManageTeacher}">
            <div class="modal-body" id ="modalError" th:data-has-errors="${#fields.hasErrors()}">
                <input type="hidden" id="id" th:field="*{id}">
                <input type="hidden"  name="form" value="form">
                <input type="hidden"  name="pageNo" th:value="${pageNo}">
                <div class="form-group">
                    <label for="fullName">Họ Tên</label>
                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
                    <p class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
                  </div>
                  <div class="form-group">
                    <label for="role">Vai trò</label>
                    <select class="form-control" id="role" th:field="*{role}">
                        <option label="Vui lòng chọn" value="" > </option>
                        <option th:selected="${formManageTeacher.role == 'GiaoVien'}" th:value="GiaoVien">Giáo viên</option>
                        <option th:selected="${formManageTeacher.role == 'TapVu'}" th:value="TapVu">Tạp vụ</option>
                        <option th:selected="${formManageTeacher.role == 'PhoHieuTruong'}" th:value="PhoHieuTruong">Phó hiệu trưởng</option>
                        <option th:selected="${formManageTeacher.role == 'HieuTruong'}" th:value="HieuTruong">Hiệu trưởng</option>
                        <option th:selected="${formManageTeacher.role == 'Admin'}" th:value="Admin">Quản trị viên</option>
                    </select>
                      <p class="text-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></p>
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber">Số điện thoại</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
                      <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
                  </div>
                  <div class="form-group">
                    <label for="birthday">Ngày sinh</label>
                    <input type="date" class="form-control" id="birthday" th:field="*{birthday}">
                      <p class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                  </div>
                  <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" th:field="*{address}">
                      <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                  </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}">
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                
            </div>
            <div class="modal-footer">
                <button th:if="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" onclick="window.location.href='/manage/teacher'">Đóng</button>
                <button th:unless="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRest">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn cho nghỉ không ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <form method="post" th:action="@{/manage/teacher/rest}">
                    <input type="hidden" id="id-rest" name="idRest"/>
                   <button type="submit" class="btn btn-primary">Đồng ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="modalComback">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn cho dạy lại không ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <form method="post" th:action="@{/manage/teacher/comeback}">
                        <input type="hidden" id="id-comeback" name="idComeback"/>
                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" th:if="${formError}">
        $(document).ready(function() {
            $("#modalAddEdit").modal("show");
        });
    </script>

    <script th:inline="javascript">
        $(document).ready(function () {
            // Lắng nghe sự kiện click vào modal
            $('#modalAddEdit').on('click', function (e) {
                var hasErrors = $('#modalError').data("has-errors");
                // Kiểm tra xem sự kiện click có diễn ra trong phần nội dung modal hay không
                if (!$(e.target).closest('.modal-content').length) {
                    if(hasErrors){
                        // Nếu không, chuyển hướng đến trang account/admin
                        window.location.href = '/manage/teacher';
                    }

                }
            });
        });
    </script>

    <script>
        $(document).ready(function (){

            $(".add-button").click(function (){
                $("#fullName").val('');
                $("#role").val('');
                $("#phoneNumber").val('');
                $("#birthday").val('');
                $("#address").val('');
                $("#email").val('');
            });

            $(".edit-button").click(function (){
                var id = $(this).parent().data("id")
                var fullName = $(this).parent().data("fullname");
                var role = $(this).parent().data("role");
                var phoneNumber = $(this).parent().data("phonenumber");
                var birthday = $(this).parent().data("birthday");
                var address = $(this).parent().data("address");
                var email = $(this).parent().data("email");

                // Gán giá trị cho các trường input trong modal
                $("#id").val(id);
                $("#fullName").val(fullName);
                $("#role").val(role);
                $("#phoneNumber").val(phoneNumber);
                $("#birthday").val(birthday);
                $("#address").val(address);
                $("#email").val(email);
            });

            $(".rest-button").click(function (){
                let id = $(this).parent().data("id")
                $("#id-rest").val(id)
            })

            $(".comeback-button").click(function (){
                let id = $(this).parent().data("id")
                $("#id-comeback").val(id)
            })

        });

    </script>


    <script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>


    <script th:inline="javascript" th:if="${changeSuccess != null}">
        toastr.success("Thay đổi thành công", "Thành công", {
            timeOut: 5e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    </script>

    <script th:inline="javascript" th:if="${changeFail != null}">
        toastr.error("Thay đổi thất bại", "Thất bại", {
            timeOut: 5e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    </script>




    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/common/common.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>

    <script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>