<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản lý lớp học</title>
    <th:block th:replace="fragment/header :: html_head"></th:block>

    <style>
        .dropdown-item{
            width: -webkit-fill-available;
        }
    </style>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="fragment/header :: nav_header">
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="fragment/header :: header">
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragment/header :: nk_sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Lớp học</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4  class="card-title">Quản lý lớp học</h4>
                                <button th:if="${showClass}" type="button" class="btn btn-info ml-4 add-button" data-toggle="modal" data-target="#modalAddEdit">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm lớp học</button>
                                <a th:if="${showClass}" th:href="@{/manage/year_school}" class="btn btn-warning ml-4" >
                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Quản lí năm học, kỳ học</a>
<!--                                nên làm thành mục lớn từu năm học ,kỳ học có thêr xem dduojc lơp học, thầy cô, học sinh-->
                                <div class="table-responsive">
                                  
                                    <table class="table table-striped table-bordered zero-configuration">
                                        
                                        <thead>
                                            <tr>
                                                <th>Tên lớp</th>
                                                <th>Niên khóa</th>
                                                <th>Ghi chú</th>
                                                <th>Giáo viên chủ nhiệm</th>
                                                <th>Trạng thái</th>
                                                <th th:if="${showClass}">Thông tin lớp học</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="classroom : ${classroomDtos}">
                                                <td th:text="${classroom.name}"></td>
                                                <td th:text="${classroom.academic_year}"></td>
                                                <td th:text="${classroom.note}"></td>
                                                <td>
                                                    <ul>
                                                        <li th:if="${classroom.teacher_classes == null}">
                                                            <span> </span>
                                                        </li>
                                                        <li th:each="teacherClass : ${classroom.teacher_classes}" th:if="${teacherClass.role == 0}">
                                                            <span th:text="${teacherClass.teacher.fullName}"></span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td th:text="${classroom.status} ? 'Đang học' : 'Đã khoá'"
                                                    th:classappend="${classroom.status} ? 'text-success' : 'text-danger'"></td>
                                                <td th:if="${showClass}">
                                                  <div class="btn-group" role="group"  >
                                                    <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chức năng</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item btn btn-primary"  th:href="@{/manage/class/classDetail(id=${classroom.id})}">Học sinh</a>
                                                        <a class="dropdown-item btn btn-primary"  th:href="@{/manage/class/subject(id=${classroom.id})}">Xem môn học</a>
                                                        <a class="dropdown-item btn btn-primary"  th:href="@{/manage/class/subjectTeacher(id=${classroom.id})}">Giáo viên bộ môn</a>
                                                        <a th:if="${classroom?.teacher_classes.?[role ==0].size() ==0}" class="dropdown-item btn btn-primary addTeacher-button"
                                                            th:href="@{/manage/class/teacherHome(id=${classroom.id})}">Thêm giáo viên chủ nhiệm</a>
                                                        <a th:if="${classroom?.teacher_classes.?[role ==0].size() >0}" class="dropdown-item btn btn-primary changeTeacher-button"
                                                            th:href="@{/manage/class/teacherHome(id=${classroom.id})}">Sửa giáo viên chủ nhiệm</a>
                                                     </div>
                                                  </div>
                                                </td>

                                                <td th:if="${showClass}">
                                                    <div class="btn-group" role="group"  >
                                                        <button type="button" class="btn mb-1 btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chức năng</button>
                                                        <div class="dropdown-menu"  th:data-id="${classroom.id}" th:data-name="${classroom.name}"
                                                             th:data-year="${classroom.academic_year}" th:data-note="${classroom.note}">

                                                    <button type="button" class="dropdown-item btn btn-primary edit-button" data-toggle="modal" data-target="#modalAddEdit">Sửa</button>
                                                    <button th:if="${classroom.status}" type="button" class="dropdown-item btn btn-warning block-button" data-toggle="modal" data-target="#modalBlock">Khóa lớp</button>
                                                    <button th:unless="${classroom.status}" type="button" class="dropdown-item btn btn-warning open-button" data-toggle="modal" data-target="#modalOpen">Mở lại lớp</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td th:if="${showScore}">
                                                    <a  class="btn btn-primary" th:href="@{/manage/score/idClass(id = ${classroom.id})}">Truy cập</a>
                                                </td>
                                                <td th:if="${showAssign}">
                                                    <a th:if="${classroom.status}" class=" btn btn-primary"  th:href="@{/manage/class/subject(id=${classroom.id})}">Vào lớp</a>
                                                </td>
                                            </tr>
                                         
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragment/footer :: footer">
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

<!-- Modal -->
<div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="modelAddEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelAddEdit">Lớp học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form method="post", th:action="@{/manage/class/save}" th:object="${formClassroom}">
            <div class="modal-body" id ="modalError" th:data-has-errors="${#fields.hasErrors()}">
                <input type="hidden" id="id" th:field="*{id}">
                <input type="hidden"  name="form" value="form">
                <div class="form-group">
                    <label for="nameClass">Tên lớp học</label>
                    <input type="text" class="form-control" id="nameClass" th:field="*{name}">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                  </div>
                  <div class="form-group">
                    <label for="academy_year">Niên khóa</label>
                    <input type="text" class="form-control" id="academy_year" th:field="*{academic_year}">
                      <p class="text-danger" th:if="${#fields.hasErrors('academic_year')}" th:errors="*{academic_year}"></p>
                  </div>
                 
                  <div class="form-group">
                    <label for="note">Ghi chú</label>
<!--                    <input type="text" class="form-control" id="note" th:field="*{note}">-->
                      <textarea class="form-control" style="height: 100px" id="note" th:field="*{note}"> </textarea>
                      <p class="text-danger" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></p>
                  </div>
            </div>
            <div class="modal-footer">
                <button th:if="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" onclick="window.location.href='/manage/class'">Đóng</button>
                <button th:unless="${#fields.hasAnyErrors()}" type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </form>
        </div>
    </div>
</div>

    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa không ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <form method="post" th:action="@{/manage/class/delete}">
                        <input type="hidden" id="id-delete" name="idDelete"/>
                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBlock">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn cho khóa lớp học không ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <form method="post" th:action="@{/manage/class/block}">
                        <input type="hidden" id="id-block" name="idBlock"/>
                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalOpen">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn mở khóa lại lớp học không ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <form method="post" th:action="@{/manage/class/open}">
                        <input type="hidden" id="id-open" name="idOpen"/>
                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script th:inline="javascript" th:if="${formError}">
        $(document).ready(function() {
            $("#modalAddEdit").modal("show");
        });
    </script>

    <script th:inline="javascript">
        $(document).ready(function () {
            // Lắng nghe sự kiện click vào modal
            $('#modalAddEdit').on('click', function (e) {
                var hasErrors = $('#modalError').data("has-errors");
                // Kiểm tra xem sự kiện click có diễn ra trong phần nội dung modal hay không
                if (!$(e.target).closest('.modal-content').length) {
                    if(hasErrors){
                        // Nếu không, chuyển hướng đến trang account/admin
                        window.location.href = '/manage/class';
                    }

                }
            });
        });
    </script>

    <script>
        $(document).ready(function (){

            $(".add-button").click(function (){
                $("#nameClass").val('');
                $("#academy_year").val('');
                $("#note").val('');

            });

            $(".edit-button").click(function (){
                var id = $(this).parent().data("id")
                var name = $(this).parent().data("name");
                var year = $(this).parent().data("year");
                var note = $(this).parent().data("note");

                // Gán giá trị cho các trường input trong modal
                $("#id").val(id);
                $("#nameClass").val(name);
                $("#academy_year").val(year);
                $("#note").val(note);
            });

            $(".delete-button").click(function (){
                let id = $(this).parent().data("id")
                $("#id-delete").val(id)
            })

            $(".block-button").click(function (){
                let id = $(this).parent().data("id")
                $("#id-block").val(id)
            })

            $(".open-button").click(function (){
                let id = $(this).parent().data("id")
                $("#id-open").val(id)
            })

        });

    </script>


    <script th:src="@{/plugins/toastr/js/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr/js/toastr.init.js}"></script>


    <script th:inline="javascript" th:if="${changeSuccess != null}">
        toastr.success("Thay đổi thành công", "Thành công", {
            timeOut: 5e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    </script>

    <script th:inline="javascript" th:if="${changeFail != null}">
        toastr.error("Thay đổi thất bại", "Thất bại", {
            timeOut: 5e3,
            closeButton: !0,
            debug: !1,
            newestOnTop: !0,
            progressBar: !0,
            positionClass: "toast-top-right",
            preventDuplicates: !0,
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut",
            tapToDismiss: !1
        });
    </script>

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/common/common.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>

    <script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>